version: '3.8'

services:
  # 1. Serviço para preparar o XML, XSD e validar
  builder:
    build: .
    image: system_integration_app
    container_name: xml_builder
    volumes:
      - xml_data:/app
    command: sh -c "python xml_converter.py && python schema_creator.py && python validator.py"
    healthcheck:
      test: ["CMD-SHELL", "test -f house_purchase.xml"]
      interval: 5s
      timeout: 3s
      retries: 5

  # 2. Servidor gRPC (NOVO NOME)
  grpc-service:
    build: .
    image: system_integration_app
    container_name: grpc-service
    volumes:
      - xml_data:/app
    ports:
      - "50051:50051"
    depends_on:
      builder:
        condition: service_healthy
    command: python grpc-service.py

  # 3. Cliente gRPC (NOVO NOME)
  grpc-client:
    build: .
    image: system_integration_app
    container_name: grpc_client
    volumes:
      - xml_data:/app
    # Depende do NOVO NOME do serviço
    depends_on:
      grpc-service:
        condition: service_started
    # Removido o sleep, pois agora está no código Python
    command: python grpc_client.py
    restart: "no"

volumes:
  xml_data: