services:
  server:
    build: .
    image: system_integration_app
    container_name: server
    volumes:
      - .:/app
    ports:
      - "50051:50051"
      - "8000:8000"
    environment:
      - MAX_ROWS=150000
      - CHUNK_SIZE=50000
    command: python server.py

  client:
    build: .
    image: system_integration_app
    container_name: client
    volumes:
      - .:/app
    depends_on:
      server:
        condition: service_started
    environment:
      - MAX_ROWS=150000
      - CHUNK_SIZE=50000
    command: python client.py
    restart: "no"
